@page
@using Dignite.CarMarketplace.BlobStoring
@using Dignite.CarMarketplace.Web.Pages
@inject CarMarketplacePageHelper CarMarketplacePageHelper
@model Dignite.CarMarketplace.Web.Pages.Dealers.HomeModel
@{
    PageLayout.Content.Title = Model.Dealer.Name;
    ViewBag.PageDescription = $"{Model.Dealer.Name} 联系人{Model.Dealer.ContactPerson}，联系电话{Model.Dealer.ContactNumber}，看车地址{Model.Dealer.Address}";
}
@section styles {
    <abp-style src="/Pages/CarMarketplace/Shared/Styles/CarMarketplace.css" />
}
<div class="card border-0 mt-5">
    <div class="row">
        <div class="col-5 col-md-2">
            <img src="@($"/api/file-explorer/files/{BlobContainerConsts.DealerCoverContainerName}/{Model.Dealer.Id.ToString("N")}?Width=200&Height=133")"
                 onerror="this.src='/Pages/CarMarketplace/Shared/dealer-error.jpg';"
                 class="img-fluid rounded" alt="@(Model.Dealer.Name+"封面图")">
        </div>
        <div class="col-7 col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title">@Model.Dealer.Name</h4>
                <p class="card-text mb-0"><small class="text-secondary">联 系 人：</small>@Model.Dealer.ContactPerson</p>
                <p class="card-text mb-0"><small class="text-secondary">联系电话：</small>@Model.Dealer.ContactNumber</p>
                <p class="card-text mb-0"><small class="text-secondary">看车地址：</small>@Model.Dealer.Address</p>
            </div>
        </div>
    </div>
</div>
<h3 class="mt-5 mb-3">
    二手车
</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-5 mb-5">
    @foreach (var item in Model.UsedCars)
    {
        @Html.Partial("../UsedCars/_Item", item)
    }
</div>

<abp-paginator model="Model.PagerModel" show-info="true" />
   
