@page
@using Dignite.CarMarketplace.BlobStoring
@using IndexModel = Dignite.CarMarketplace.Web.Pages.UsedCars.IndexModel
@model Dignite.CarMarketplace.Web.Pages.UsedCars.IndexModel
@{
    ViewBag.FluidLayout = true;
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/UsedCars/index.js" />
    </abp-script-bundle>
}
@section styles {
    <abp-style src="/Pages/CarMarketplace/Shared/Styles/CarMarketplace.css" />
}

<div class="px-3 px-md-5">
    <form method="get">
        <div class="input-group input-group-lg my-4">
            <span class="input-group-text rounded-start-pill ps-4 bg-transparent" id="basic-addon1"><i class="fa fa-search"></i></span>
            <input asp-for="GetUsedCarsInput.Filter" type="text" class="form-control border-start-0 ps-0" placeholder="搜索二手车" name="filter">
            <div class="input-group-text rounded-end-pill d-none d-md-block" id="basic-addon2">
                @foreach(var tag in Model.PopularTags)
                {
                    <a href="@Url.Page("Index",new{tagName=tag.Value})" class="btn btn-light rounded-pill @(Model.GetUsedCarsInput.TagName==tag.Value?"active":"")" role="button">@tag.Key</a>
                }
            </div>
            <div class="input-group-text rounded-end-pill d-block d-md-none" id="basic-addon2">
                <select id="PopularTagSelect" class="form-select">
                    @foreach (var tag in Model.PopularTags)
                    {
                        <option value="@tag.Value" selected="@(tag.Value==Model.GetUsedCarsInput.TagName)">@tag.Key</option>                    
                    }
                </select>
            </div>
        </div>
    </form>
    <div class="row pb-3">
        <div class="col-md-8">
            <form method="get" id="get-used-cars-form">
                <div class="d-flex flex-row justify-content-around justify-content-md-start">
                    <div class="p-2 ps-0">
                        <div class="form-floating">
                            <select asp-for="GetUsedCarsInput.BrandId" name="brandId" class="form-select">
                                <option value="">--所有--</option>
                                @foreach (var brand in Model.AllBrands)
                                {
                                    <option value="@brand.Id" selected="@(brand.Id==Model.GetUsedCarsInput.BrandId)">@brand.FirstLetter @brand.Name</option>
                                }
                            </select>
                            <label asp-for="GetUsedCarsInput.BrandId">品牌</label>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-floating">
                            <select asp-for="GetUsedCarsInput.ModelId" name="modelId" class="form-select">
                                <option value="">--所有--</option>
                                @if (Model.AllModels!=null)
                                {
                                    @foreach (var company in Model.AllModels)
                                    {
                                        <optgroup label="@company.Name"></optgroup>
                                        foreach (var cm in company.Models)
                                        {
                                            <option value="@cm.Id" selected="@(cm.Id==Model.GetUsedCarsInput.ModelId)">@cm.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <label asp-for="GetUsedCarsInput.ModelId">车型</label>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-floating">
                            <select asp-for="GetUsedCarsInput.ModelLevel" name="modelLevel" class="form-select">
                                <option value="">--所有--</option>
                                @foreach (var level in Model.AllModelLevels)
                                {
                                    <option value="@level" selected="@(level==Model.GetUsedCarsInput.ModelLevel)">@level</option>
                                }
                            </select>
                            <label asp-for="GetUsedCarsInput.ModelLevel">车型级别</label>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-floating">
                            <select class="form-select" id="PriceRangesSelect">
                                <option>--所有--</option>
                                @foreach (var range in Model.PriceRanges)
                                {
                                    var min = float.Parse(range.Value.Split('-')[0]);
                                    var max = float.Parse(range.Value.Split('-')[1]);
                                    var selected = Model.GetUsedCarsInput.MinPrice.HasValue ? 
                                    ((Model.GetUsedCarsInput.MinPrice.Value >= min && Model.GetUsedCarsInput.MaxPrice.Value <= max)?true:false) 
                                    : false;
                                    <option value="@range.Value" selected="@selected" >@range.Key</option>
                                }
                            </select>
                            <label for="PriceRangesSelect">价格区间</label>
                            <input asp-for="GetUsedCarsInput.MinPrice" name="minPrice" type="hidden" />
                            <input asp-for="GetUsedCarsInput.MaxPrice" name="maxPrice" type="hidden" />
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-floating">
                            <select class="form-select" id="MileageRangesSelect">
                                <option>--所有--</option>
                                @foreach (var range in Model.MileageRanges)
                                {
                                    var min = float.Parse(range.Value.Split('-')[0]);
                                    var max = float.Parse(range.Value.Split('-')[1]);
                                    var selected = Model.GetUsedCarsInput.MinTotalMileage.HasValue ?
                                    ((Model.GetUsedCarsInput.MinTotalMileage.Value >= min && Model.GetUsedCarsInput.MaxTotalMileage.Value <= max) ? true : false)
                                    : false;
                                    <option value="@range.Value" selected="@selected">@range.Key</option>
                                }
                            </select>
                            <label for="MileageRangesSelect">行驶里程</label>
                            <input asp-for="GetUsedCarsInput.MinTotalMileage" name="minTotalMileage" type="hidden" />
                            <input asp-for="GetUsedCarsInput.MaxTotalMileage" name="maxTotalMileage" type="hidden" />
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-floating">
                            <select asp-for="GetUsedCarsInput.Color" name="color"  class="form-select">
                                <option value="">--所有--</option>
                                @foreach (var color in Model.AllModelColors)
                                {
                                    <option value="@color" selected="@(color==Model.GetUsedCarsInput.Color)">@color</option>
                                }
                            </select>
                            <label asp-for="GetUsedCarsInput.Color">车型颜色</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="d-flex">
                <div class="p-2 flex-grow-1">
                    <h1 class="d-block d-md-none">查找二手车</h1>
                </div>
                <div class="pt-2">
                    <div class="form-floating">
                        <select asp-for="GetUsedCarsInput.Sorting" class="form-select" id="SortingSelect">
                            @foreach (var sorting in Model.Sorts)
                            {
                                <option value="@sorting.Value" selected="@(sorting.Value==Model.GetUsedCarsInput.Sorting)">@sorting.Key</option>
                            }
                        </select>
                        <label asp-for="GetUsedCarsInput.Sorting">排序</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-5 mb-5">
        @foreach (var item in Model.UsedCars)
        {
            <div class="col">
                <div class="card cmpl-card used-car-card bg-light shadow-sm">
                    <a href="@Url.Page("Detail",new{Id=item.Id})">
                        <img src="@($"/api/file-explorer/files/{BlobContainerConsts.CarPicsContainerName}/{item.Id}/LeftFront")" class="card-img-top" alt="@(item.Name+"左前45度图片")">
                    </a>
                    <div class="card-body position-relative d-flex flex-column">
                        <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥@item.Price.ToString("#0.00") 万元</span>
                        <h6 class="card-title mt-2">
                            <a class="underline-animate" href="@Url.Page("Detail",new{Id=item.Id})">@item.Name</a>
                        </h6>
                        <div class="row">
                            <div class="col-6">
                                <small class="text-muted">上牌时间</small>
                                <p class="mb-1">@item.RegistrationDate.ToString("yyyy/MM")</p>
                            </div>
                            <div class="col-6">
                                <small class="text-muted">表显里程</small>
                                <p class="mb-1">@item.TotalMileage 公里</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        }
        <div class="col">

            <div class="card cmpl-card used-car-card bg-light shadow-sm">
                <a href="/buy-car/24def590-3ffa-4569-b848-ba22240afebc">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699777992d9fb58c3ed46491aa805f11f73cf9b3d7206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥890.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/24def590-3ffa-4569-b848-ba22240afebc">宝马-宝马X6 2013款 xDrive35i</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card cmpl-card used-car-card bg-light shadow-sm">
                <a href="/buy-car/90b8463f-8ba6-473c-b7ae-951413f3dec8">
                    <img src="https://image-pub.guazistatic.com/qnbdp16996036679235f10db9bf4239813e0c07c3678bdf7963.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥890.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/90b8463f-8ba6-473c-b7ae-951413f3dec8">别克-凯越 2013款 1.5L 自动经典型</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card cmpl-card used-car-card bg-light shadow-sm">
                <a href="/buy-car/8813ff2d-2cb8-4333-a68c-0f93b9fdb722">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699772588d7b0c530113f4deeaec2a896e6f7f724125.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥3380.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/8813ff2d-2cb8-4333-a68c-0f93b9fdb722">福特-锐界 2015款 2.0T GTDi 四驱豪锐型</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/buy-car/50a0b73d-1ada-4db8-90c4-134a1d7890f1">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699776199b76f3ceee91547df9aa3ac5012205cca125.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥1500.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/50a0b73d-1ada-4db8-90c4-134a1d7890f1">宝马-宝马X1 2020款 sDrive25Li 领先型</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/7d1c7363-0cec-4c25-9da2-6a1cb2e9c122">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699774006e3d0d38e95e748a5b4eee3e6a9eff0c7125.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥3380.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/7d1c7363-0cec-4c25-9da2-6a1cb2e9c122">五菱汽车-宏光MINIEV 2020款 悦享款 磷酸铁锂</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/f0729762-71dd-4589-abd0-97f35d25ab6d">
                    <img src="https://image-pub.guazistatic.com/qnbdp169979527065683db0a1864b33a89a6d0bec52c9d87963.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥3530.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/f0729762-71dd-4589-abd0-97f35d25ab6d">日产-蓝鸟 2016款 1.6L CVT智酷版</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/d8d753bd-a3fa-4221-8a5c-b4c6c0e0c174">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699775402ea0864f8869342f5961b7fc0240e2432125.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥3200.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/d8d753bd-a3fa-4221-8a5c-b4c6c0e0c174">标致-标致308S 2015款 1.2T 自动劲驰版</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/46edefdc-6626-4cbb-812a-1d6a7edbb7f9">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699843712f8beb47a51764bdabd40d8f979e706d27206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥2149.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/46edefdc-6626-4cbb-812a-1d6a7edbb7f9">东风风神 奕炫 2022款 230T 自动虎啸版</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/67439486-9548-4eeb-bedc-3e741d39ccbc">
                    <img src="https://image-pub.guazistatic.com/qnbdp169977749860f9a809c1904916bae20f9f384bdc417206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥5980.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/67439486-9548-4eeb-bedc-3e741d39ccbc">宝马X1 2022款 sDrive25Li 领先型</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/1ee3365e-89e4-4bc8-adc6-c18263948c57">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699843543a0617c448eec46cf8e46fd1f63c857e77206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥5480.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/1ee3365e-89e4-4bc8-adc6-c18263948c57">理想汽车 理想L7 2023款 Air</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/5870ba9a-0dd2-4615-9525-e51fb8bb0b80">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699779206e11fb19b5ad448df876c9b9e1d3bce517963.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥2380.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/5870ba9a-0dd2-4615-9525-e51fb8bb0b80">埃安 AION Y 2023款 Plus 80 智领版</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/d5538ac8-6ff3-4e25-8025-3b429e176004">
                    <img src="https://image-pub.guazistatic.com/qnbdp16998423523dd91de1ade240c4a8996ceba5ce04467206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥2480.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/d5538ac8-6ff3-4e25-8025-3b429e176004">比亚迪 宋PLUS新能源 2021款 DM-i 110KM 旗舰PLUS</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/9a158698-e8e8-4c7e-8789-990821ae69ee">
                    <img src="https://image-pub.guazistatic.com/qnbdp1699841952a4623da0671844d383bdbafd6ef28a307206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_750,h_500" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥2749.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/9a158698-e8e8-4c7e-8789-990821ae69ee">宝马iX 2022款 xDrive40(进口)</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card used-car-card bg-light shadow-sm">
                <a href="/house/14d88f24-2650-4d48-b6d6-9b4b14261bac">
                    <img src="https://image-pub.guazistatic.com/qnbdp16996812918c8e22e829794e128cb85e086c85b18f7206.jpg?x-bce-process=image/quality,q_88/resize,m_fill,w_270,h_180" class="card-img-top" alt="...">
                </a>
                <div class="card-body position-relative d-flex flex-column">
                    <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥2199.00 万日元</span>
                    <h6 class="card-title mt-2">
                        <a class="underline-animate" href="/house/14d88f24-2650-4d48-b6d6-9b4b14261bac">红旗HS7 2022款 2.0T DCT两驱智联旗享版 五座</a>
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">上牌时间</small>
                            <p class="mb-1">6年7个月</p>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">表显里程</small>
                            <p class="mb-1">4.76万公里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <abp-paginator model="Model.PagerModel" show-info="true" />
</div>