@page
@using Dignite.CarMarketplace.BlobStoring
@using Dignite.CarMarketplace.Web.Pages
@inject CarMarketplacePageHelper CarMarketplacePageHelper
@model Dignite.CarMarketplace.Web.Pages.Dealers.HomeModel

@section styles {
    <abp-style src="/Pages/CarMarketplace/Shared/Styles/CarMarketplace.css" />
}
<div class="card border-0 mt-5">
    <div class="row">
        <div class="col-5 col-md-2">
            <img src="@($"/api/file-explorer/files/{BlobContainerConsts.DealerCoverContainerName}/{Model.Dealer.Id.ToString("N")}")" 
                onerror="this.src='/Pages/CarMarketplace/Shared/dealer-error.jpg';"
                 class="img-fluid rounded" alt="@(Model.Dealer.Name+"封面图")">
        </div>
        <div class="col-7 col-md-10">
            <div class="card-body p-0">
                <h4 class="card-title">@Model.Dealer.Name</h4>
                <p class="card-text mb-0"><small class="text-secondary">联 系 人：</small>@Model.Dealer.ContactPerson</p>
                <p class="card-text mb-0"><small class="text-secondary">联系电话：</small>@Model.Dealer.ContactNumber</p>
                <p class="card-text mb-0"><small class="text-secondary">看车地址：</small>@Model.Dealer.Address</p>
            </div>
        </div>
    </div>
</div>
<h3 class="mt-5 mb-3">
    二手车
</h3>

@if (Model.UsedCars.Count > 0)
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-5 mb-5">
        @foreach (var item in Model.UsedCars)
        {
            <div class="col">
                <div class="card cmpl-card used-car-card bg-light shadow-sm">
                    <a href="@Url.Page("/UsedCars/Detail",new{Id=item.Id})">
                        <img src="@($"/api/file-explorer/files/{BlobContainerConsts.CarPicsContainerName}/{item.Id}/LeftFront")" class="card-img-top" alt="@(item.Name+"左前45度图片")">
                    </a>
                    <div class="card-body position-relative d-flex flex-column ps-0 pe-0">
                        <span class="badge rounded-pill bg-primary fw-normal fs-6 position-absolute top-0 start-50 translate-middle">￥@CarMarketplacePageHelper.GetPriceFormatText(item.Price)</span>
                        <h6 class="card-title mt-2">
                            <a class="underline-animate" href="@Url.Page("/UsedCars/Detail",new{Id=item.Id})">@item.Name</a>
                        </h6>
                        <div class="row">
                            <div class="col-6">
                                <small class="text-muted">上牌时间</small>
                                <p class="mb-1">@item.RegistrationDate.ToString("yyyy/MM")</p>
                            </div>
                            <div class="col-6">
                                <small class="text-muted">表显里程</small>
                                <p class="mb-1">@CarMarketplacePageHelper.GetMileageFormatText(item.TotalMileage)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-secondary mt-5 mb-5" role="alert">
        系统没有找到符合条件的二手车数据！
    </div>
}

@if (Model.PagerModel.TotalItemsCount > 0)
{
    <abp-paginator model="Model.PagerModel" show-info="true" />
}
   
