@page
@using Dignite.CarMarketplace.BlobStoring
@model Dignite.CarMarketplace.Web.Pages.Dealers.IndexModel

@section styles {
    <abp-style src="/Pages/CarMarketplace/Shared/Styles/CarMarketplace.css" />
}

@section content_toolbar {
    <nav class="navbar navbar-light bg-white bg-opacity-75 border-bottom navbar-expand-lg sticky-top">
        <div class="container">
            <div class="navbar-brand order-0 text-wrap w-50">二手车商</div>
            <div class="collapse navbar-collapse justify-content-end order-2 order-md-1" id="page-navbar-collapse">
                <form method="get" class="d-flex" role="search">
                    <div class="input-group">
                        <span class="input-group-text rounded-start-pill ps-4 bg-transparent" id="basic-addon1"><i class="fa fa-search"></i></span>
                        <input asp-for="GetDealersInput.Filter" type="text" class="form-control border-start-0 rounded-end-pill ps-0" placeholder="搜索车商" name="filter">
                    </div>
                </form>
            </div>

            <div class="navbar-toolbars order-1 order-md-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary border-primary-subtle rounded-pill ms-3" href="@Url.Page("/Dealers/Register")">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i> 我是车商
                        </a>
                        <button type="button" class="btn btn-outline-primary rounded-pill border-primary-subtle ms-2 dropdown-toggle d-lg-none" data-bs-toggle="collapse" data-bs-target="#page-navbar-collapse" aria-controls="page-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}



<div class="row mt-5 mb-5">
    @foreach (var item in Model.Dealers)
    {
        <div class="col-md-4">
            <div class="card cmpl-card bg-light shadow-sm">
                <a href="@Url.Page("Home",new{shortName=item.ShortName})">
                    <img src="@($"/api/file-explorer/files/{BlobContainerConsts.DealerCoverContainerName}/{item.Id.ToString("N")}?Width=420&Height=280")" onerror="this.src='/Pages/CarMarketplace/Shared/dealer-error.jpg';" class="card-img-top" alt="@(item.Name+"封面图")">
                </a>
                <div class="card-body ps-0 pe-0">
                    <small class="text-muted">
                        专业二手车商
                    </small>
                    <h5 class="card-title">
                        <a class="underline-animate" href="@Url.Page("Home",new{shortName=item.ShortName})">@item.Name</a>
                    </h5>
                    <p>@item.Address</p>
                </div>
            </div>
        </div>
    }
</div>

<abp-paginator model="Model.PagerModel" show-info="true" />